{% extends "test_task_poll_app/base.html" %}

{% block title %}Фабрика решений{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Активные опросы</h3>
            </div>
            {% for poll in pollItems %}
            <form action="{% url 'vote' user_id %}"
                  style="display: inline;"
                  method="post">
                <ul class="list-group">
                    <li class="list-group-item"><strong> {{ poll.name }} </strong>
                        {% csrf_token %}
                        <span class="pull-right">
                                <input type="submit" value="Пройти"/>
                                <input type="hidden" name="poll_id" value="{{ poll.id }}">
                        </span>
                    </li>
                </ul>
            </form>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}